// ? Подключение бургерного меню
// @use '../../plugins/menu';
@use '../../exports/vars' as vars;

.header {

  position: fixed;
  width: 100%;
  background-color: vars.$colorGreen;
  menu ul{
    display: flex;
    li {
      a{
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding: 19px;
        display: block;
        color: vars.$linksTopMenu;
        line-height: 25px;
        margin: 0;
      }
      a:hover{
        background-color: vars.$colorLink;
      }
    }
  }
}