.items__container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .item{
    border: 1px solid red;
    height: 500px;
    background-color: #0698a5;
  }
}
@media (max-width: 600px){
  .items__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px){
  .items__container {
    grid-template-columns: repeat(2, 1fr);
  }
}