@use '../../exports/vars' as vars;

.items__container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .item{
    img{
      width:100%;
    }
    a{
      font-size: 20px;
      color: vars.$colorLink;
    }
  }
}
@media (max-width: 600px){
  .items__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px){
  .items__container {
    grid-template-columns: repeat(2, 1fr);
  }
}