// Цвет текста по-умолчанию
$defTextColor: #000000;

// Цвет бургера
$burger: #1e26cc;

// Цвет мобильного меню
$bmenuBgr: #2ba9c0;

// Цвета свечения
$ghost: rgb(0, 157, 255);
$neon: #ff00de;
$lux: #0698a5;
$luxbox: #e4e4e4;